/ArogyaKheti-Hack4Earth2023/dashboard/__pycache__
/ArogyaKheti-Hack4Earth2023/ArogyaKheti/__pycache__
/ArogyaKheti-Hack4Earth2023/landing/migrations/__pycache__
/ArogyaKheti-Hack4Earth2023/public/__pycache__
/ArogyaKheti-Hack4Earth2023/public/migrations/__pycache__
/FarmStart/node_modules
/ArogyaKheti-Hack4Earth2023/staticfiles
